
    <header>
      <div class="container custom-header">
        <div class="container__logo">
          <a class="container__logo__content" href="/">NINEFS</a>
        </div>
        <div id="nav-toggle">
          <div>
              <span class="toggle"></span>
              <span class="toggle"></span>
              <span class="toggle"></span>
          </div>
        </div>
        <div id="gloval-nav">
          <ul class="navigation">
            <li class="navigation__list-item"><a href="/about">About</a></li>
            <li class="navigation__list-item work-nav"><a href="/works">WORK</a></li>
            <li class="navigation__list-item "><a href="/vlogs">BLOG</a></li>
          </ul>
        </div>
      </div>
    </header>
<!-- ======================================== -->           
<div class="adminnew_contents">
  <div class="adminnew_contents__title">
   Edit work
  </div>
  <div class="adminnew_contents__form">
  <%= form_with model: @work, class: :form, local: true do |form| %>
    <div class="adminnew_contents__form__item">Language</div>
    <div class="adminnew_contents__form__category">
    <%= form.collection_check_boxes :language_ids, Language.all, :id, :text %>
    </div>
    <div class="adminnew_contents__form__images">
    <%= form.label :image, class: 'adminnew_contents__form__images__image' do %>
      <div class="adminnew_contents__form__images__image__img">
        <%= icon('fas', 'image') %>
        Select image
      </div>
      <%= form.file_field :image, class: 'adminnew_contents__form__images__image__file' %>
    <% end %>
    <div class="adminnew_contents__form__images__show">
      <% if @work.image.present? %>
        <%= image_tag @work.image.url , id: :img_prev %>
      <% else %>
        <%= image_tag "/assets/Insert.png", id: :img_prev %>
      <% end %>
    </div>
    </div>
    <div class="adminnew_contents__form__item">Title</div>
    <%= form.text_field :title, class: :adminnew_contents__form__title %>
    <div class="adminnew_contents__form__item">Overview</div>
    <%#= form.text_area :description, class: :adminnew_contents__form__content %>
    
    <div class="form-group">
      <div id='editor'>
        <%= form.text_area :description, class: :adminnew_contents__form__content %>

      </div>
    </div>
    <div class="adminnew_contents__form__preview">
      Preview
      <div id="marked-area"></div>
    </div>
    
    
    <div class="adminnew_contents__form__item">制作の目的</div>
    <%= form.text_area :concept, class: :adminnew_contents__form__description %>
    <div class="adminnew_contents__form__item">作成期間</div>
    <%= form.text_field :period, class: :adminnew_contents__form__title %>
    <div class="adminnew_contents__form__item">README URL</div>
    <%= form.text_field :readme, class: :adminnew_contents__form__title %>
    <div class="adminnew_contents__form__item">WEBSITE URL</div>
    <%= form.text_field :website, class: :adminnew_contents__form__title %>
    <div class="adminnew_contents__form__item">
    Status<br>
      <%= form.select :status, Work.statuses.keys.map { |k| [t("enums.work.status.#{k}"),k]} %>
    </div>
    
    <%= form.submit 'Post it', class: :adminnew_contents__form__btn %>
  <% end %>
  </div>
</div>
<!-- ======================================== -->           
<footer>
  <div class="container">
  <ul class="navigation">
      <li class="navigation__list-item footer"><a href="/about">About</a></li>
      <li class="navigation__list-item footer work-nav"><a href="/works">WORK</a></li>
      <li class="navigation__list-item footer"><a href="/vlogs">BLOG</a></li>
    </ul>
    <div class="copyright">
      <p>© 2020 NINEFS</p>
    </div>
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
  </div>
</footer>

