<header>
  <div class="container">
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
    <ul class="navigation">
      <li class="navigation__list-item "><a href="/about">About</a></li>
      <li class="navigation__list-item work-nav"><a href="/works">WORK</a></li>
      <li class="navigation__list-item "><a href="/blogs">BLOG</a></li>
    </ul>
  </div>
</header>
  <!-- ======================================== -->
  <div class="work__top">My Works</div>

  <div class="work__contents">
    <div class='work__contents__tabs'>
      <div class='work__contents__tabs__tab-buttons'>
        <span class='content1'>All</span>
        <span class='content2'>Ruby on Rails</span>
        <span class='content3'>Python</span>
        <div id='lamp' class='content1'></div>
      </div>
    </div>

  <!-- ======================================== -->
  <div class="work__contents__tab-contents">
  <div class="work__contents__tab-content content1">
    <% @works.each do |work| %>
    <div class="work__contents__tab-content__list">
      <div class="work__contents__tab-content__list__img">
        <img src="/assets/main.jpg"/>
      </div>
      <div class="work__contents__tab-content__list__details">
        <div class="work__contents__tab-content__list__details__name">
          <%= link_to work.title, "#" %>
        </div>
        <ul class="work__contents__tab-content__list__details__languages">
          <% work.languages.each do |language| %>
          <li class = "work__contents__tab-content__list__details__languages__lang">
               <%= language.text %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
  <!-- ======================================== -->
  <div class="work__contents__tab-content content2">
    <% @works.each do |work| %>
    <% work.languages.each do |language| %>
    <% if language.text.include?("Ruby") %>
      <div class="work__contents__tab-content__list">
        <div class="work__contents__tab-content__list__img">
          <img src="/assets/main.jpg"/>
        </div>
        <div class="work__contents__tab-content__list__details">
          <div class="work__contents__tab-content__list__details__name">
            <%= link_to work.title, "#" %>
          </div>
          <ul class="work__contents__tab-content__list__details__languages">
            <li class = "work__contents__tab-content__list__details__languages__lang">
                <%= language.text %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="work__contents__tab-content__none"></div>
    <% end %>
    <% end %>
    <% end %>
  </div>

<!-- ======================================== -->
  <div class="work__contents__tab-content content3">
    <% @works.each do |work| %>
    <% work.languages.each do |language| %>
    <% if language.text.include?("Python") %>
      <div class="work__contents__tab-content__list">
        <div class="work__contents__tab-content__list__img">
          <img src="/assets/main.jpg"/>
        </div>
        <div class="work__contents__tab-content__list__details">
          <div class="work__contents__tab-content__list__details__name">
            <%= link_to work.title, "#" %>
          </div>
          <ul class="work__contents__tab-content__list__details__languages">
            <li class = "work__contents__tab-content__list__details__languages__lang">
                <%= language.text %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="work__contents__tab-content__none"></div>
    <% end %>
    <% end %>
    <% end %>
  </div>
<!-- ======================================== -->
</div>
</div>
  
<footer>
  <div class="container">
  <ul class="navigation">
      <li class="navigation__list-item "><a href="/about">About</a></li>
      <li class="navigation__list-item work-nav"><a href="/works">WORK</a></li>
      <li class="navigation__list-item "><a href="/blogs">BLOG</a></li>
    </ul>
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
  </div>
</footer>