<%= render 'layouts/header'%>
<div class="contents">
  <div class="contents__top">
    <div class="contents__top__introduction">
      <h1>
        Hello, my name is Mayu.<br> I am just a queer individual who is hooked on coding.
      </h1>
    </div>
    <div class="contents__top__photo">
      <img src="/assets/main.jpg" alt="Mayu Kuno"/>
    </div>
  </div>
  <div class="contents__content" >
    <h2 class="contents__content__ttl">Works</h2>
    <div class="contents__content__workList">
    <% @works.first(3).each do |work| %>
      <div class="work">
        <%= link_to "/works/#{work.id}" do %>
          <img src="<%= "#{work.image}" %>"> 
            <div class="mask">
              <div class="inside">
              <%= link_to "/works/#{work.id}" do %>
                <div class="title">
                  <p><%= work.title %></p>
                </div>
              <% end %>
              </div>
            </div>
        <% end %> 
      </div>
      <% end %>
    </div>
    <div class="contents__content__all">
      <%= link_to "View all works", works_path %>
    </div>
  </div>

  <div class="contents__content">
    <h2 class="contents__content__ttl">Blogs</h2>
    <div class="contents__content__blogList">
      <% @vlogs.first(3).each do |vlog| %>
      <div class="contents__content__blogList__list">
        <div class="contents__content__blogList__list__img">
        <%= link_to vlog_path(vlog.id), target: "_blank" do %>
          <img src="<%= "#{vlog.image}" %>"> 
        <% end %> 
        </div>
        <div class="contents__content__blogList__list__title">
          <%= link_to vlog.title, vlog_path(vlog.id) %>
        </div>
        <% vlog.categories.each do |category| %>
        <li class = "contents__content__blogList__list__category">
          <%= link_to category.text, category_path(category.id), class: "contents__content__blogList__list__title__category__link" %>
        </li>
        <% end %>
        <div class="contents__content__blogList__list__time">
          <%= vlog.created_at.strftime '%Y-%m-%d' %>
        </div>
        <div class="contents__content__blogList__list__description">
          <%= vlog.description %>
        </div>
      </div>
      <% end %>
    </div>
  <div class="contents__content__all">
    <%= link_to "View all blogs", vlogs_path %>
  </div>

  <div class="contents__content">
    <h2 class="contents__content__ttl">Get in touch</h2>
    <div class="contents__content__form">
      <div class="contact-form row">
        <%= form_with(model: @contact, local: true) do |f| %>
          <div class="form-field col x-50">
            <%= f.text_field :name, class: 'input-text js-input'%>
            <label class="label" for="name">Name</label>
          </div>

          <div class="form-field col x-50">
            <%= f.email_field :email, class: 'input-text js-input' %>
            <label class="label" for="email">E-mail</label>
          </div>


          <div class="form-field col x-100">
            <%= f.text_area :message, class: 'input-text js-input' %>
            <label class="label" for="message">Message</label>
          </div>

          <div class="form-field col x-100 align-center">
            <%= f.submit 'Send', class: 'submit-btn' %>
          </div>
            <% end %>
          </div>
   </div>
        
  </div>

  <div id="getintouch" class="contents__content">
      <div class="social-btns">
        <a class="btn twitter" href="https://twitter.com/CoderNinefs" target="_blank">
          <i class="fab fa-twitter home-twitter"></i>
        </a>
        <a class="btn instagram" href="https://www.instagram.com/coderninefs/?hl=ja" target="_blank">
          <i class="fab fa-instagram home-insta"></i>
        </a>    
        <a class="btn github" href="https://github.com/MayuKuno" target="_blank">
          <i class="fab fa-github home-git"></i>
        </a>
        <a class="btn facebook" href="https://www.facebook.com/mayukuno1006/" target="_blank">
          <i class="fab fa-facebook-f home-fb"></i>
        </a>
        <a class="btn linkedin" href="https://www.linkedin.com/in/%E7%9C%9F%E5%84%AA-%E4%B9%9D%E9%87%8E-000601184/" target="_blank">
          <i class="fab fa-linkedin home-li"></i>
        </a>

      </div>
    </div>
</div>

<button type="button" class="back-to-top">
    <span class="label">
       <img src="/assets/sprites.png" />
    </span>
</button>

<%= render 'layouts/footer'%>
