    <header>
      <div class="container">
        <div class="container__logo">
          <a class="container__logo__content" href="/">NINEFS</a>
        </div>
        <ul class="navigation">
          <li class="navigation__list-item "><a href="/about">About</a></li>
          <li class="navigation__list-item "><a href="/works">WORK</a></li>
          <li class="navigation__list-item "><a href="/blogs">BLOG</a></li>
        </ul>
      </div>
    </header>
<div class="contents">
<!-- ====================top==================== -->
  <div class="contents__top">
   <div class="contents__top__introduction">
    <h1>
    Hello, my name is Mayu.<br> I am just a queer individual who is hooked on coding.
    </h1>
    </div>
    <div class="contents__top__photo">
      <img src="/assets/main.jpg" alt="Mayu Kuno"/>
    </div>
  </div>
<!-- ====================work==================== -->
  <div class="contents__content" >
    <h2 class="contents__content__ttl">Works</h2>
    <div class="contents__content__workList">
    <% @works.first(3).each do |work| %>
    <div class="contents__content__workList__list">
      <div class="contents__content__workList__list__img">
        <img src="<%= "#{work.URL}" %>">
      </div>
      
      <div class="contents__content__workList__list__details">
        <div class="contents__content__workList__list__details__name">
          <%= link_to work.title, work_path(work.id) %>
        </div>
        <ul class="work__contents__tab-content__list__details__languages">
          <% work.languages.each do |language| %>
          <li class = "work__contents__tab-content__list__details__languages__lang">
               <%= language.text %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
    </div>
    <div class="contents__content__all">
      <%= link_to "View all works", works_path %>
    </div>
  </div>

<!-- ====================blog==================== -->
  <div class="contents__content">
    <h2 class="contents__content__ttl">Blogs</h2>
    <div class="contents__content__blogList">
      <% @blogs.first(3).each do |blog| %>
      <div class="contents__content__blogList__list">
        <a href="#">
          <img src="<%= "#{blog.image}" %>">
          </a>
          <div class="contents__content__blogList__list__title">
            <%= link_to blog.title, blog_path(blog.id) %>
          </div>
          <% blog.categories.each do |category| %>
          <li class = "contents__content__blogList__list__category">
              <%= link_to category.text, blog_path(blog.id), class: "contents__content__blogList__list__title__category__link" %>
          </li>
          <% end %>
          <div class="contents__content__blogList__list__time">
            <%= blog.created_at.strftime '%Y-%m-%d' %>
          </div>
          <div class="contents__content__blogList__list__description">
            <%= blog.description %>
          </div>

      </div>
      <% end %>
    </div>
  <div class="contents__content__all">
    <%= link_to "View all posts", blogs_path %>
  </div>

<!-- ====================getintouch==================== -->
  <div class="contents__content">
    <h2 class="contents__content__ttl">Get in touch</h2>
    <div class="contents__content__form">
      <div class="contact-form row">
        <%= form_with(model: @contact, local: true) do |f| %>
          <div class="form-field col x-50">
            <%= f.text_field :name, class: 'input-text js-input'%>
            <label class="label" for="name">Name</label>
          </div>

          <div class="form-field col x-50">
            <%= f.email_field :email, class: 'input-text js-input' %>
            <label class="label" for="email">E-mail</label>
          </div>


          <div class="form-field col x-100">
            <%= f.text_area :message, class: 'input-text js-input' %>
            <label class="label" for="message">Message</label>
          </div>

          <div class="form-field col x-100 align-center">
            <%= f.submit 'Send', class: 'submit-btn' %>
          </div>
  
            <% end %>
          </div>
   </div>
        
  </div>

<!-- ====================form==================== -->
  <div id="getintouch" class="contents__content">
      <div class="social-btns">
        <a class="btn twitter" href="https://twitter.com/CoderNinefs" target="_blank">
          <i class="fab fa-twitter home-twitter"></i>
        </a>
        <a class="btn instagram" href="https://www.instagram.com/mayu_k06/?hl=ja" target="_blank">
          <i class="fab fa-instagram home-insta"></i>
        </a>    
        <a class="btn github" href="https://github.com/MayuKuno" target="_blank">
          <i class="fab fa-github home-git"></i>
        </a>
        <a class="btn facebook" href="https://www.facebook.com/mayukuno1006/" target="_blank">
          <i class="fab fa-facebook-f home-fb"></i>
        </a>
      </div>
    </div>
</div>
<footer>
  <div class="container">
  <ul class="navigation">
      <li class="navigation__list-item "><a href="/about">About</a></li>
      <li class="navigation__list-item "><a href="/works">WORK</a></li>
      <li class="navigation__list-item "><a href="/blogs">BLOG</a></li>
    </ul>
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
  </div>
</footer>
