    <header>
      <div class="container custom-header">
        <div class="container__logo">
          <a class="container__logo__content" href="/">NINEFS</a>
        </div>
        <div id="nav-toggle">
          <div>
              <span class="toggle"></span>
              <span class="toggle"></span>
              <span class="toggle"></span>
          </div>
        </div>
        <div id="gloval-nav">
          <ul class="navigation">
            <li class="navigation__list-item"><a href="/about">About</a></li>
            <li class="navigation__list-item "><a href="/works">WORK</a></li>
            <li class="navigation__list-item blog-nav"><a href="/vlogs">BLOG</a></li>
          </ul>
        </div>
      </div>
    </header>
<!-- ======================================== -->    
<div class="post__contents">
  <div class="post__contents__side">
   
    <div class="post__contents__side__top">
      <p>Logged in as</p>
      <div class="post__contents__side__top__name">  
        <%= link_to current_admin.name, "#", class: "post__contents__side__top__name__link" %>
      </div>
      <div class="post__contents__side__top__logout">  
        <%= link_to "Logout", destroy_admin_session_path, class: "post__contents__side__top__logout__link" , method: :delete %>
      </div>
      <div class="post__contents__side__top__edit">  
        <%= link_to "Edit", edit_admin_registration_path, class: "post__contents__side__top__edit__link" %>
      </div>
    </div>

    <div id="vertical_tab_nav" class="post__contents__side__bottom">
          <ul>
              <li><a href="/posts">BLOG Dashboard</a></li>
              <li class="selected"><a href="/posts">WORK Dashboard</a></li>
          </ul>

    </div>
  </div>

  <section class="post__contents__content">
    <article>
      <div class="post__contents__content__dashboard__blogPhone">
        <div class="post__contents__content__dashboard__blogPhone__new">
          <%= link_to "Add Article", new_vlog_path %>
          <%= link_to "Add Category", new_category_path %>
        </div>
        <% @vlogs.each do |vlog| %>
           <div class="post__contents__content__dashboard__blogPhone__img">
            <%= link_to vlog_path(vlog.id) do %>
              <img src="<%= "#{vlog.image}" %>"> 
            <% end %> 
            </div>
          <div class="post__contents__content__dashboard__blogPhone__title">
            <%= link_to vlog_path(vlog.id) do %>
             <%= vlog.title %> 
            <% end %> 
            </div>
          <% end %>
          </div>
      <div class="post__contents__content__dashboard__blog">
          <table>
            <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Created_at</th>
                  <th scope="col">
                    <div class="post__contents__content__dashboard__blog__new">
                      <i class="fas fa-edit post__contents__content__dashboard__blog__new__icon"></i>
                      <%= link_to "Add Article", new_vlog_path, class: "post__contents__content__dashboard__blog__new__link" %>
                    </div>
                     <div class="post__contents__content__dashboard__blog__new">
                      <%= link_to "Add Category", new_category_path, class: "post__contents__content__dashboard__blog__new__link" %>
                    </div>
                  </th>
                </tr>
            </thead>
            <tbody>
              <% @vlogs.each do |vlog| %>
              <tr>
                <td><%= vlog.title%></td>
                <td class="description"><%= vlog.description%></td>
                <td><%= vlog.created_at.strftime '%Y-%m-%d'%></td>
                <td>
                  <%= link_to "Detail", vlog_path(vlog.id), class: "postManage__preview" %>
                  <%= link_to "Edit", edit_vlog_path(vlog.id), class: "postManage__edit" %>
                  <%= link_to "Delete", vlog_path(vlog.id), method: :delete, class: "postManage__delete" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>    
      </div>
      <div class='posts__paginate'><%= paginate(@vlogs) %></div>

    </article>

    <article>
      <div class="post__contents__content__dashboard__blogPhone">
       <div class="post__contents__content__dashboard__blogPhone__new">
          <%= link_to "Add Work", new_work_path %>
          <%= link_to "Add Language", new_language_path%>
        </div>
        <% @works.each do |work| %>
           <div class="post__contents__content__dashboard__blogPhone__img">
            <%= link_to work_path(work.id) do %>
              <img src="<%= "#{work.image}" %>"> 
            <% end %> 
            </div>
          <div class="post__contents__content__dashboard__blogPhone__title">
            <%= link_to work_path(work.id) do %>
             <%= work.title %> 
            <% end %> 
            </div>
          <% end %>
      
      
      </div>

      <div class="post__contents__content__dashboard__work">
          <table>
            <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>

                  <th scope="col">
                    <div class="post__contents__content__dashboard__blog__new">
                      <i class="fas fa-edit post__contents__content__dashboard__blog__new__icon"></i>
                      <%= link_to "Add Work", new_work_path, class: "post__contents__content__dashboard__blog__new__link" %>
                    </div>
                    <div class="post__contents__content__dashboard__blog__new">
                      <%= link_to "Add Language", new_language_path, class: "post__contents__content__dashboard__blog__new__link" %>
                    </div>
                  </th>
                </tr>
            </thead>
            <tbody>
              <% @works.each do |work| %>
              <tr class="work">
                <td class="image">
                 <img src="<%= "#{work.image}" %>" width="100" height="auto">
                </td>
                <td><%= work.title%></td>
                <td class="description"><%= work.description %></td>


                <td>
                  <%= link_to "Detail", work_path(work.id), class: "postManage__preview" %>
                  <%= link_to "Edit", edit_work_path(work.id), class: "postManage__edit" %>
                  <%= link_to "Delete", work_path(work.id), method: :delete, class: "postManage__delete" %>

                </td>
              </tr>
              <% end %>
            </tbody>
          </table>    
      </div>

    </article>

     
  </section>
</div>
<!-- ======================================== -->           
<footer>
  <div class="container">
  <ul class="navigation">
      <li class="navigation__list-item "><a href="/about">About</a></li>
      <li class="navigation__list-item "><a href="/works">WORK</a></li>
      <li class="navigation__list-item blog-nav"><a href="/vlogs">BLOG</a></li>
    </ul>
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
  </div>
</footer>