<header>
  <div class="container">
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
    <ul class="navigation">
      <li class="navigation__list-item "><a href="/about">About</a></li>
      <li class="navigation__list-item "><a href="/works">WORK</a></li>
      <li class="navigation__list-item blog-nav"><a href="/vlogs">BLOG</a></li>
    </ul>
  </div>
</header>
<!-- ======================================== -->
<div class="category__contents">
    <div class="category__contents__top">
      <img src="/assets/blog.jpg" alt="article"/>
    </div>
    <div class="category__contents__bottom">
      <div class="category__contents__bottom__articles">
      <div class="category__contents__bottom__articles__title">
      <p><%= @category.text%>のブログ</p>
      </div>
      <div class="category__contents__bottom__articles__lists">
      <% @category.vlogs.each do |vlog| %>
        <div class="category__contents__bottom__articles__lists__list">
          <div class="category__contents__bottom__articles__lists__list__img">
            <%= link_to vlog_path(vlog.id), target: "_blank" do %>
              <img src="<%= "#{vlog.image}" %>"> 
            <% end %> 
          </div>
            <div class="category__contents__bottom__articles__lists__list__title">
              <%= link_to vlog.title, vlog_path(vlog.id) %>
            </div>
            <% vlog.categories.each do |category| %>
            <li class = "category__contents__bottom__articles__lists__list__category">
                <%= link_to category.text, category_path(category.id), class: "details__contents__article__titles__category__link" %>

            </li>
            <% end %>
          </ul>
            <div class="category__contents__bottom__articles__lists__list__time">
              <%= vlog.created_at.strftime '%Y-%m-%d' %>
            </div>
            <div class="category__contents__bottom__articles__lists__list__description">
              <%= vlog.description %>
            </div>
        </div>
      <% end %>
        <div class='category__paginate'><%= paginate(@categories) %></div>
        </div>
      </div>
      <div class="category__contents__bottom__side">
        <div class="category__contents__bottom__side__profile">
          <div class="category__contents__bottom__side__profile__title"> Profile</div>
            <div class="category__contents__bottom__side__profile__photo">
              <img src="/assets/self.jpg" alt="Mayu Kuno" />
            </div>
            <div class="category__contents__bottom__side__profile__name">
                <h1>Mayu Kuno</h1>
            </div>
            <div class="category__contents__bottom__side__profile__description">
                <p>
                エンジニアになるためプログラミングを勉強しています。<br>
                プログラミングで学んだことのアウトプットをブログにしていきます。<br>
                近い未来にカナダ移住をするために情報収集しています。
                </p>
            </div>
            <ul class="category__contents__bottom__side__profile__snsbtn">
              <li><a href="https://twitter.com/CoderNinefs" class="blog__contents__bottom__side__profile__snsbtn__btn twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/mayu_k06/?hl=ja" class="blog__contents__bottom__side__profile__snsbtn__btn instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/mayukuno1006/" class="blog__contents__bottom__side__profile__snsbtn__btn facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="mailto:ninefs1006@gmail.com?subject=問い合わせ&amp;body=ご記入ください" class="blog__contents__bottom__side__profile__snsbtn__btn mail" target="_blank"><i class="far fa-envelope"></i></a></li>
            </ul>
            <div class="category__contents__bottom__side__profile__adminpage"><%= link_to "Admin Login", new_admin_session_path %></div>
        </div>

        <div class="category__contents__bottom__side__category">
          <div class="category__contents__bottom__side__category__title"> Category</div>

          <% @categories.each do |category| %>
            <div class="category__contents__bottom__side__category__lists__list">
              <%= link_to category.text, category_path(category.id) %>
            </div>
          <% end %>

      </div>
    </div>
</div>


<!-- ======================================== -->
<footer>
  <div class="container">
  <ul class="navigation">
      <li class="navigation__list-item "><a href="/about">About</a></li>
      <li class="navigation__list-item "><a href="/works">WORK</a></li>
      <li class="navigation__list-item blog-nav"><a href="/vlogs">BLOG</a></li>
    </ul>
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
  </div>
</footer>