<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hello, my name is Mayu. I am just a queer individual who is hooked on coding. This is their portfolio website.">
    <title>Ninefs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="../css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Basic formatting for image, video, table, code and quote. -->
    <link href="../css/froala_content.min.css" rel="stylesheet" type="text/css" />
    <!-- CSS rules for styling the block tags such as p, h1, h2, etc. -->
    <link href="../css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png'%>

  </head>
  <body>
    <%= render 'layouts/deletepopup'%>
    <%= yield %>
  </body>
</html>


